<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.volumedot">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:label="VolumeDot"
        android:icon="@drawable/ic_dot"
        android:roundIcon="@drawable/ic_dot">
        <service android:name=".FloatingService" android:exported="false"/>

        <receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
